doctype
html(lang='es')
	head
		title='Example'
		
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(charset='utf-8')
	body
		div(class="container")
			h2 Login
			a(href="/auth/facebook") Login with Facebook
